/* ==================================================

 CEST 3D CREATOR V7
 Creative Educational System Technology

 PRELOAD DEL SISTEMA

 Tecnología creada por:
 Lic. Carlos Eduardo Sepúlveda Toro

================================================== */



/* Pantalla completa de carga */

#preload{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;


background:

radial-gradient(
circle,
#123,
#000
);


display:flex;

flex-direction:column;

justify-content:center;

align-items:center;


font-family:Arial, Helvetica, sans-serif;


color:white;


z-index:9999;

}



/* Avatar pixel */

#avatarCEST{


width:150px;

height:150px;


object-fit:cover;


image-rendering:pixelated;



border:

3px solid #00ffff;



border-radius:

15px;



box-shadow:

0 0 25px cyan;



animation:

flotar 3s infinite;


}




/* Animación avatar */

@keyframes flotar{


0%{

transform:translateY(0);

}


50%{

transform:translateY(-12px);

}



100%{

transform:translateY(0);

}


}





/* Título */

#preload h1{


color:#00ffff;


letter-spacing:5px;



text-shadow:

0 0 20px cyan;


}



#preload h2{


font-size:16px;


font-weight:normal;


}




/* Barra */

.barra{


width:320px;

height:14px;


border:

2px solid cyan;


border-radius:20px;


overflow:hidden;


background:#000;


margin:20px;


}



#progreso{


height:100%;


width:0%;



background:

linear-gradient(
90deg,
#008888,
#00ffff
);



animation:

cargar 5s forwards;


}





@keyframes cargar{


100%{

width:100%;

}


}







/* Texto */

#mensajeCarga{


color:#00ffff;


font-size:13px;


animation:

parpadeo 1s infinite;


}




@keyframes parpadeo{


50%{

opacity:.4;

}

}






/* Créditos */

.creditosLoader{


margin-top:20px;


font-size:12px;


line-height:20px;


text-align:center;


color:#ddd;


}



.creditosLoader b{


color:#00ffff;


}
